@import "tailwindcss";

body {
  font-family: Alata;
}

@font-face {
  font-family: Alata;
  src: url(../src/assets/fonts/Alata/Alata-Regular.ttf) format("truetype");
}

@theme {
  --color-background: #121212;
  --color-d: #6D6D6D;
}